@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
}
* {
  font-family: "Balsamiq Sans", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.name-game {
  text-align: center;
  font-family: "Balsamiq Sans", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.header > .player {
  display: flex;
  flex-direction: column;
}
.header > .player.p1 {
  align-items: start;
}
.header > .player.p2 {
  align-items: end;
}
.header > .player > .name {
  text-align: center;
  display: block;
  width: 100%;
}
.header > .player > .connected {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header > .player > .connected .badge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  background-color: #52c41a;
}

.header > .player p {
  color: #3fa2f6;
  font-weight: semibold;
  font-size: 20px;
}
.header > .player > .ready {
  margin-top: 12px;
  padding: 4px 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.1s linear;
}
.header > .player > .ready:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.battleship-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.battleship-container .battleship-area__area .name {
  text-transform: uppercase;
  text-align: center;
  padding: 12px 0;
  margin-bottom: 20px;
  border-radius: 6px;
  letter-spacing: 1.2px;
  font-weight: 600;
  background-color: #717c96;
  color: white;
}
.battleship-container .battleship-area__area.your-turn .name {
  background-color: #0364ee;
  color: white;
}
.battleship-container .battleship-area__area.opponent-turn .name {
  background-color: #ff0055;
  color: white;
}
.battleship-grid {
  margin-top: 60px;
  position: relative;
  display: grid;
  gap: 4px;
  border-radius: 4px;
  background-color: white;
  grid-template-rows: repeat(10, 40px);
  grid-template-columns: repeat(10, 40px);
}
.battleship-grid .row {
  position: absolute;
  top: -32px;
  left: 0;
  display: flex;
  gap: 4px;
}
.battleship-grid .row > span {
  display: flex;
  width: 40px;
  height: 20px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #717c96;
}

.battleship-grid .col {
  position: absolute;
  left: -32px;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.battleship-grid .col > span {
  display: flex;
  width: 20px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #717c96;
}

.square {
  border-radius: 4px;
  cursor: pointer;
  transition: 0.06s linear;
  background-color: #e5e5e5;
}
.square.your-square {
  background-color: rgba(97, 198, 255, 0.2);
}
.square:not(.taken):hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.taken {
  position: relative;
  background-color: blue !important;
}

.grid-display-ships {
  margin-top: 30px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.grid-display-ships .ship {
  display: flex;
}
.grid-display-ships .ship:hover {
  transform: scale(1.05);
  transition: 0.2 linear;
  cursor: pointer;
}
.grid-display-ships .ship > div {
  width: 28px;
  height: 28px;
  background-color: #d1d2de;
  position: relative;
}
.grid-display-ships .ship > div:hover:after {
  background-color: white;
}
.grid-display-ships .ship > div:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.destroyer-container {
  display: flex;
}
.ship > div:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.ship > div:last-child {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}
.destroyer-container-vertical {
}
.submarine-container {
}
.submarine-container > div {
  width: 20px;
  height: 20px;
  background-color: black;
}
.submarine-container-vertical {
}
.cruiser-container {
}
.cruiser-container > div {
  width: 20px;
  height: 20px;
  background-color: black;
}
.cruiser-container-vertical {
}

.fourship-container {
}
.fourship-container > div {
  width: 20px;
  height: 20px;
  background-color: black;
}
.fourship-container-vertical {
}

.carrier-container {
}
.carrier-container > div {
  width: 20px;
  height: 20px;
  background-color: black;
}
.carrier-container-vertical {
}

.grid-display-ships-opponent {
  position: relative;
  margin-top: 30px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
}
.grid-display-ships-opponent .ship-opponent {
  cursor: pointer;
}

.grid-display-ships-opponent .ship-opponent.active {
  text-decoration: line-through;
  color: #ff0055;
  font-weight: 500;
}
